html, input, option {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  display: flex;
}

.divLogo {
    opacity: 0.95;
    border-radius: 5px;
    background-color: aquamarine;
    width: 30px;
    height: 30px;
  }

.content {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

label{
  display: flex;
  width: 17rem;
  justify-content: space-between;
  padding: 0.25rem;
}

input {
  width:3.5rem
}

@media screen and (max-width:1110px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  form {
    padding-top: 1rem;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .divLogo {
    animation: div-spin infinite 240s linear;
  }
}

@keyframes div-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */