html,
input,
option {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  display: flex;
}

canvas {
  background-color: whitesmoke;
}

.divLogo {
  opacity: 0.95;
  border-radius: 5px;
  background-color: aquamarine;
  width: 30px;
  height: 30px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: max-content;
}

label {
  display: flex;
  width: 17rem;
  justify-content: space-between;
  padding: 0.25rem;
}

input {
  width: 3.5rem
}

#button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0.5rem;
}

#start-button,
#stop-button {
  width: 45%;
}

@media screen and (max-width:1110px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  form {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}